<p id="notice"><%= notice %></p>

<h1>Assign Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Assignee</th>
      <th>Assigner</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assign_tasks.each do |assign_task| %>
      <tr>
        <% if assign_task.task != nil %>
        <td><%= assign_task.task.t_name %></td>
        <td><%= assign_task.assignee.email %></td>
        <td><%#= assign_task.assigner.email %></td>
        <td><%= assign_task.status %></td>
        <td><%= link_to 'Show', assign_task %></td>
        <td><%= link_to 'Edit', edit_assign_task_path(assign_task) %></td>
        <td><%= link_to 'Destroy', assign_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assign Task', new_assign_task_path %>
